doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Snake

    link(rel='stylesheet', type='text/css', href='build/snake.css')

  body

    article

      section
        h2 Snake

      section
        h3 Sejarah Game Snake
        p.bullet Snake adalah sebuah video game sederhana yang diciptakan pada akhir tahun 1970 pada arcade. Arcade sendiri adalah platform video game seperti di bioskop-bioskop. Sejak diciptakannya, kepopulerannya meningkat dan akhirnya terkenal sebagai game klasik. Lalu sejak dirilis di Handphone Nokia pada tahun 1998, kepopulerannya terus meningkat.
        <img src="images/games01.png">

      section
        h3 How to Play
        p.bullet Game ini memang sudah sangat klasik dan sudah jarang terlihat. Berikut adalah cara bermainnya, tidak ada salahnya kita me-review ulang sekilas. Si pemain akan mengendalikan sebuah mahluk yang menyerupai ular yang akan bergerak mengitari sebuah bidang berbentuk kotak, dengan tujuan mengambil makanan yang aslinya berbentuk dot atau titik.
        p.bullet Selama bermain, si pemain harus berusaha untuk tidak menabrak dinding atau ekornya sendiri dan itu akan semakin susah, karena setiap kali si pemain memakan makanan, ekornya akan bertambah panjang. Kontrol-pun sangat mudah, yakni hanya atas, bawah, kiri dan kanan, ular akan berjalan secara otomatis dan tidak dapat dihentikan. Ingin bernostalgia? Atau mencoba bermain?
        p.bullet <a href="playsnake.jade">Play Now</a>

    script(src='build/build.js')